<main class="container">
  <section class="panel section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <h4>Resumo</h4>
      <button [disabled]="isCarregando" (click)="refreshBalance()" class="btn-section-right  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <span [ngSwitch]="isCarregando">
          <div *ngSwitchCase="true">Atualizando...</div>
          <div *ngSwitchDefault>Atualizar</div>
        </span>
      </button>
    </div>
  </section>

  <section class=" mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--6-col">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Quantidade de Jogadores</h2>
      </div>
      <div class="mdl-card__media">
        <h2 class="resume-value">{{balance?.numberPlayers}}</h2>
      </div>
    </div>

    <div class="mdl-card mdl-cell mdl-cell--6-col">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Quantidade de doações</h2>
      </div>
      <div class="mdl-card__media">
        <h2 class="resume-value">{{balance?.totalAmount}}</h2>
      </div>
    </div>
  </section>

  <section class="panel section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <h4>Resumo por Seleção</h4>
    </div>
  </section>

  <table class="mdl-data-table mdl-data-table--selectable mdl-shadow--2dp with-100">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Posição</th>
        <th class="mdl-data-table__cell--non-numeric">Seleção</th>
        <th>Quantidade de jogadores</th>
        <th>Quantidade de doações</th>
        <th>Total de pontos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of balance?.balanceSheetsTeam">
        <td class="mdl-data-table__cell--non-numeric">{{item.ranking}}º</td>
        <td class="mdl-data-table__cell--non-numeric">{{item.team.name}}</td>
        <td>{{item.team.numberPlayers}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.totalPoints}}</td>
      </tr>
    </tbody>
  </table>
</main>