<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
    
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
      <a href="#overview" class="mdl-layout__tab is-active">Home</a>
      <a href="#features" class="mdl-layout__tab">Times</a>
      <a href="#features" class="mdl-layout__tab">Jogadores</a>
      <a href="#features" class="mdl-layout__tab">Contagem</a>
      <a href="#features" class="mdl-layout__tab">Apresentação</a>
    </div>
  </header>