<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <a [routerLink]="['/home']" routerLinkActive="is-active" class="mdl-layout__tab">Home</a>
    <a [routerLink]="['/team']" routerLinkActive="is-active" class="mdl-layout__tab">Seleções</a>
    <a [routerLink]="['/category']" routerLinkActive="is-active" class="mdl-layout__tab">Categorias de doações</a>
    <a [routerLink]="['/player']" routerLinkActive="is-active" class="mdl-layout__tab">Jogadores</a>
    <a [routerLink]="['/score']" routerLinkActive="is-active" class="mdl-layout__tab">Contagem</a>
    <a [routerLink]="['/presentation']" routerLinkActive="is-active" class="mdl-layout__tab">Apresentação</a>
  </div>
</header>