<input class="input-hash" #inputHash [(ngModel)]="hash" (ngModelChange)="onHashChange()" type="text">

<figure *ngIf="isShowTeam" class="gif-position" [style.border-color]="data?.team?.gifBorderColor">
    <figcaption class="coach-label">TÉCNICO</figcaption>
    <img #teamGif [src]="data?.team?.urlGif" alt="Gif do técnico">
    <figcaption class="coach-name">{{data.team.coach}}</figcaption>
</figure>


<h1 *ngIf="isShowTeam" class="player-name">{{data.player.name}}</h1>

<section *ngIf="isShowResult" class="result-container">
    <h3>Ranking</h3>
    <table class="mdl-data-table mdl-data-table--selectable mdl-shadow--2dp with-100">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Posição</th>
                <th class="mdl-data-table__cell--non-numeric">Seleção</th>
                <th>Total de pontos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of ranking()" [ngClass]="{'may-item': item.team.id === data.team.id}">
                <td class="mdl-data-table__cell--non-numeric">{{item.ranking}}º</td>
                <td class="mdl-data-table__cell--non-numeric">{{item.team.name}}</td>
                <td *ngIf="item.team.id === data.team.id">{{item.totalPoints}}</td>
                <td *ngIf="item.team.id !== data.team.id"></td>
            </tr>
        </tbody>
    </table>
</section>