.input-copy, .input-copy:focus {
    color: transparent;
    border-color: transparent;
    background-color: transparent;
}

.a-copy-emails {
    display: inline-block;
    text-align: right;
    text-decoration: none;
    cursor: hand;
}

section {
    background: #fff;
}

.btn-upload {
    padding: 20px 0;
}

.label-file-name {
    font-weight: bold;
}

.label-file {
    font-size: 12px;
}

.label-required {
    font-style: italic;
}

.file-invalid {
    color: #d50000;
}

.form-footer {
    display: inline-block;
}

.btn-form {
    width: 150px;
    margin: 10px !important;
    float: right;
}

.btn-new {
    width: 150px;
    position: absolute;
    top: 35px;
    right: 35px;
}

div.options {
    align-items: center;
}

div.options>a {
    margin: 30px 0;
}